.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
}

.categoryItem.email {
    background-color: #57c4ff31;
}

.categoryItem.technology {
    background-color: #da85c731;
}

.categoryItem.d2c {
    background-color: #7fb88133;
}

.categoryItem.amp {
    background-color: #F5A9E1;
}

.categoryItem.marketing {
    background-color: #CEF6CE;
}

.categoryItem.ai {
    background-color: #57c4ff31;
}