.aiInputContainer {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.aiInputTitle {
    padding-top: 100px;
    font-family: "DM Sans";
    font-weight: 300;
    text-align: center;
}

.aiTryExample {
    font-family: "DM Sans";
    font-weight: 300;
    text-align: center;
}

.aiTryExampleHowEmails {
    font-family: "DM Sans";
    font-weight: 300;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.stepper_prompt_suggestion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}

.stepper_prompt_suggestion_item {
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg-paper);
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
    padding: 16px;
    cursor: pointer;
    border: 0.5px solid #c7c7c7;
    border-radius: 20px;
    min-height: 110px;
    color: #6C757D;
    font-size: 17px;
    font-weight: 300;
    transition: opacity 0.9s ease;
    transition-delay: 0.9s;
}

.hor_circle_small {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(133,63,250,1) 0%, rgb(222 74 218) 100%);
    margin-right: 20px;
}

.hor_circle_inner_small {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.example_prompt_text {
    text-align: start;
}

.all_faq_subheader {
    /* text-align: center; */
    color: #424242;
    /* width: 80%; */
    margin-top: 20px;
    margin-left: 20px;
    letter-spacing: -1px;
    font-size: 27px;
    align-self: flex-start;
}

.aiInputBox {
    position: relative;
    width: 100%;
}

.aiInputBoxControl {
    padding: 26px 80px 26px 26px;
    border-radius: 45px;
    border: 1px solid rgba(0,0,0,.1);
    outline: none;
    width: 100%;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #5F6367;
}

.aiTemplateBox {
    position: relative;
    background-color: white;
    margin-top: 16px;
    width: 100%;
    height: 100vh;
}

.aiTemplateBoxIframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}

.aiInputBoxButton {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.aiInputBoxButton_active {
    background-color: #206eff;
}

.aiInputBoxButtonIcon {
    width: 25px;
    height: 25px;
    color: white;
}

.aiInputBoxButtonSpinner {
    color: white;
}

.aiInputBoxControl:focus {
    box-shadow: 0 0 0 3px rgba(32, 110, 255, 1);
}

.placeholderWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 26px;
    pointer-events: none;
    font-size: 18px;
    color: #7d7d7d;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
}

.fadeIn {
    transform: translateY(0);
    opacity: 1;
}

.fadeOut {
    transform: translateY(10px);
    opacity: 0;
}

.hidden {
    opacity: 0;
}