.container {}

.title {
    margin: 50px 0px;
    letter-spacing: -1.3px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 20px;
}

.category {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    width: 120px;
    height: 120px;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #eeeeee;
}

.category.email {
    background-color: #57c4ff31;
}

.category.technology {
    background-color: #da85c731;
}

.category.d2c {
    background-color: #7fb88133;
}

.category.amp {
    background-color: #F5A9BC;
}

.category.marketing {
    background-color: #ff795736;
}

.category.ai {
    background-color: #ffb04f45;
}

.image {
    border-radius: 50%;
}

@media screen and (max-width: 1280px) {
    .category {
        width: 120px;
    }
}

@media screen and (max-width: 1024px) {
    .category {
        width: 120px;
    }
}

@media screen and (max-width: 768px) {
    .category {
        width: 120px;
    }
}

@media screen and (max-width: 640px) {
    .category {
        width: 120px;
    }
}